<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(91, 181, 255, 0) 30%); max-width: 600px; margin: 0 auto;">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Registra una Organizacion</div>
                    <span class="text-600 font-medium">Complete los campos para registrar una organizacion</span>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <form [formGroup]="registerForm">
                        <div class="col-12">
                            <p-fieldset legend="Organization Information">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-12">
                                        <label htmlFor="nameorg">Nombre de la Organizacion</label>
                                        <input pInputText id="nameorg" type="text" formControlName="name" />
                                    </div>
                                    <div class="field col-12">
                                        <label htmlFor="description">Descripcion</label>
                                        <input pInputText id="description" type="text" formControlName="description" />
                                    </div>
                                    
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="image">Logo de la Organizacion Image URL*</label>
                                        <input pInputText id="image" type="text" formControlName="image" />
                                    </div>

                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="website">Website*</label>
                                        <input pInputText id="website" type="text" formControlName="website" />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="contact">Contacto*</label>
                                        <input pInputText id="contact" type="text" formControlName="contact" />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="address">Direccion</label>
                                        <input pInputText id="address" type="text" formControlName="address" />
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <br/>
                        <button pButton pRipple label="Guardar" class="w-full p-3 text-xl"
                            [disabled]="!registerForm.valid" (click)="doRegister()"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<p-dialog 
        *ngIf="organizationObj != null"
        header="Registro de organizacion" 
        [modal]="true"
        [(visible)]="registerOrganization" 
        [position]="'center'" 
        draggable="false"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '25vw' }" 
    [draggable]="false" 
    [resizable]="false">
            <span class="p-text-secondary block mb-5">
                Informacion importante
            </span>
            <div class="flex align-items-center gap-3 mb-3">
                <p>Tu organizacion fue enviada para revision de los administradores por lo cual es posible que no la veas en el sistema. <br/>
                    Puedes dar seguimiento de tu solicitud (puede tardar de 24 a 48 horas)</p>
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Trackear" routerLink="/app/organization/tracking/{{organizationObj.uuid}}" icon="pi pi-list" severity="info"/>
                <p-button label="Aceptar" (onClick)="exitOrganization()" icon="pi pi-check"  severity="success" iconPos="right"/>
            </div>
    </p-dialog>