<!-- organization.component.html -->
<div class="p-grid p-nogutter organization-container" *ngIf="communityObj && communityObj.organization">
  <div class="p-col-12 p-md-4 p-lg-3 organization-info">
    <div class="organization-header">
      <img [src]="communityObj.coverImage" alt="Organization Logo" class="organization-logo" />
      <h2>{{communityObj.organization.name }} : {{communityObj.name}}</h2>
      <p>{{communityObj.description}}</p>
      <!-- <p><strong>Contact:</strong> contactorganization.org</p> -->
      <p-tabView *ngIf="communityObj.organization">
        <p-tabPanel header="Info. organizacion">
          <p-panel>
            <p>
              <strong>Nombre organizacion propietaria: </strong>{{communityObj.organization.name}}<br />
              <strong>Objetivo organizacion: </strong>{{communityObj.organization.description}}<br />
            </p>
        </p-panel>
        </p-tabPanel>
        <p-tabPanel header="Contacto">
          <p-panel>
            <p>
              <strong>Direccion: </strong>{{communityObj.organization.address !== '' && communityObj.organization.address
              !== null ? communityObj.organization.address : '(Sin direccion)'}}<br />
              <strong>Contacto: </strong>{{communityObj.organization.contact}}<br />
              <strong>Website: </strong> <a target="_blank"
                href="{{communityObj.organization.website}}">{{communityObj.organization.website}}</a>
            </p>
        </p-panel>
        
          
        </p-tabPanel>

        <p-tabPanel header="Miembros" *ngIf="communityObj.communityMemberships">
          <p-dataView #dv [value]="communityObj.communityMemberships" [rows]="5" [paginator]="true">
            <ng-template pTemplate="empty">
              <div class="flex align-items-center justify-content-center p-4">
                <i class="pi pi-inbox p-mr-3"></i>
                <span class="p-ml-2">&nbsp;No hay miembros registrados</span>
              </div>
            </ng-template>
            <ng-template pTemplate="list" let-products>
              <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let item of products; let first = first" class="col-12">
                  <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                    [ngClass]="{ 'border-top-1 surface-border': !first }">
                    <div class="md:w-10rem relative">
                      <p-avatar [label]="getUserLabel(item.user.person)" styleClass="mr-2" size="xlarge" />
                    </div>
                    <div
                      class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                      <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                        <div>
                          <div class="text-lg font-medium text-900 mt-2">{{ item.user.person.firstname }} {{ item.user.person.surname }}</div>
                          <span class="font-medium text-secondary text-sm"> {{'@'+ item.user.username }} </span>
                        </div>

                      </div>
                      <div class="flex flex-column md:align-items-end gap-5">
                        <div class="flex flex-row-reverse md:flex-row gap-2">
                          <p-tag severity="success" [value]="item.role.label"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
          <br/>
          <p-button (onClick)="op.toggle($event)" icon="pi pi-share-alt" label="Invitar" />
          <p-overlayPanel #op>
            <div class="flex flex-column gap-3 w-25rem">
                <div>
                    <span class="font-medium text-900 block mb-2">Compartir enlace de invitación</span>
                    <p-inputGroup>
                      <input [(ngModel)]="inviteLink" type="text" pInputText placeholder="Keyword" />
                      <button type="button" pButton icon="pi pi-copy" class="p-button-success" (click)="copyInviteLink()"></button>
                  </p-inputGroup>
                    <!-- <p-inputGroup>
                        <input [(ngModel)]="inviteLink" pInputText value="https://primeng.org/12323ff26t2g243g423g234gg52hy25XADXAG3" readonly class="w-25rem" />
                        <p-inputGroupAddon>
                            <button type="button" (click)="copyInviteLink()" pButton icon="pi pi-copy" class="p-button-success"></button>
                        </p-inputGroupAddon>
                    </p-inputGroup> -->
                </div>
                <div>
                  <span class="font-medium text-900 block mb-2">Perfil de usuario</span>
                  <ul class="list-none p-0 m-0 flex flex-column gap-3">
                      <li class="flex align-items-center gap-2">
                          <!-- <img [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + member.image" style="width: 32px" /> -->
                          <div>
                              <span class="font-medium">Example user</span>
                              <div class="text-sm text-color-secondary">test</div>
                          </div>
                          <div class="flex align-items-center gap-2 text-color-secondary ml-auto text-sm">
                              <span>Rol: miembro</span>
                              <i class="pi pi-angle-down"></i>
                          </div>
                      </li>
                  </ul>
              </div>
            </div>
        </p-overlayPanel>
        </p-tabPanel>

        <p-tabPanel header="Donación" *ngIf="communityObj.donationLink">
          <p-button (click)="donate()" label="Donar a la organización" icon="pi pi-credit-card" iconPos="right" />
        </p-tabPanel>

      </p-tabView>
    </div>

  </div>

  <!-- <div class="p-col-12 p-md-8 p-lg-9">

    <div class="recent-publications" *ngIf="communityObj.public">
      <h2>Publicaciones recientes</h2>
      <div class="p-grid p-nogutter">
        <div class="p-col-12 p-md-6 p-lg-4" *ngFor="let post of posts">
          <div class="post-card">
            <img [src]="post.image" alt="Post Image" class="post-image" />
            <div class="post-content">
              <h3>{{ post.title }}</h3>
              <p>{{ post.description }}</p>
              <small>Posted on: {{ post.date | date }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>