<!-- organization.component.html -->
<div class="p-grid p-nogutter organization-container" *ngIf="communityObj">
    <div class="p-col-12 p-md-4 p-lg-3 organization-info">
      <div class="organization-header">
        <img src="assets/organization-logo.png" alt="Organization Logo" class="organization-logo" />
        <h2>{{communityObj.name}}</h2>
        <p>{{communityObj.description}}</p>
        <!-- <p><strong>Contact:</strong> contactorganization.org</p> -->
        <p-tabView>
            <p-tabPanel header="Header I">
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
            </p-tabPanel>
            <p-tabPanel header="Header II">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </p>
            </p-tabPanel>
            <p-tabPanel header="Header III">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-tabPanel>
        </p-tabView>
      </div>
      <div class="organization-members">
        <p><strong>Members:</strong> 150</p>
        <div class="p-grid p-nogutter">
          <div class="p-col-12 p-md-6 member-card">
            <h3>John Doe</h3>
            <p>Role: Project Manager</p>
          </div>
          <div class="p-col-12 p-md-6 member-card">
            <h3>Jane Smith</h3>
            <p>Role: Volunteer Lead</p>
          </div>
          <div class="p-col-12 p-md-6 member-card">
            <h3>Michael Brown</h3>
            <p>Role: IT Support</p>
          </div>
        </div>
      </div>
    
    </div>
  
    <div class="p-col-12 p-md-8 p-lg-9">
  
      <div class="recent-publications" *ngIf="communityObj.public">
        <h2>Recent Publications</h2>
        <div class="p-grid p-nogutter">
          <div class="p-col-12 p-md-6 p-lg-4" *ngFor="let post of posts">
            <div class="post-card">
              <img [src]="post.image" alt="Post Image" class="post-image" />
              <div class="post-content">
                <h3>{{ post.title }}</h3>
                <p>{{ post.description }}</p>
                <small>Posted on: {{ post.date | date }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  