<div class="community-container" *ngIf="!noData; else noCommunities">
  <ul class="community-list">
    <li *ngFor="let membership of userCommunities" class="community-item">
      <div class="community-card">
        <div class="community-image-container">
          <img
            *ngIf="membership.community.coverImage"
            [src]="membership.community.coverImage"
            alt="{{ membership.community.name }}"
            class="community-image"
          />
        </div>
        <div class="community-content">
          <h3>{{ membership.community.name }}</h3>
          <p *ngIf="membership.community.description">{{ membership.community.description }}</p>
          <p *ngIf="!membership.community.description">No description available.</p>
        </div>
        <div class="leave-button-container">
          <button
            class="leave-button"
            (click)="leaveCommunity(membership.uuid)"
          >
            Leave
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #noCommunities>
  <p>No communities found.</p>
</ng-template>
