<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="../../../../../assets/layout/images/{{layautservices.config().colorScheme === 'light' ? 'logo outline' : 'logo'}}.png" alt="ContribuGuate logo"
            class="mb-5 w-6rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(91, 181, 255, 0) 30%); max-width: 600px; margin: 0 auto;">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Organization Registration</div>
                    <span class="text-600 font-medium">Complete the details to register the organization in the system</span>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <form [formGroup]="registerForm">
                        <div class="col-12">
                            <p-fieldset legend="Organization Information">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="nameorg">Name</label>
                                        <input pInputText id="nameorg" type="text" formControlName="name" />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="description">Description</label>
                                        <input pInputText id="description" type="text" formControlName="description" />
                                    </div>
                                    
                                    <div class="field col-12">
                                        <label htmlFor="logo">Logo or Organization Image*</label>
                                        <input type="file" pInputFile id="logo" (change)="onFileSelected($event)" />
                                    </div>

                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="website">Website*</label>
                                        <input pInputText id="website" type="text" formControlName="website" />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="contact">Contact*</label>
                                        <input pInputText id="contact" type="text" formControlName="contact" />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="address">Address*</label>
                                        <input pInputText id="address" type="text" formControlName="address" />
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <br/>
                        <button pButton pRipple label="Registrarse" class="w-full p-3 text-xl"
                            [disabled]="!registerForm.valid || !selectedFile" ></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
