<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="../../../../../assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo outline' : 'logo'}}.png" alt="ContribuGuate logo" class="mb-5 w-6rem flex-shrink-0">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(91, 181, 255, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Recuperación de contraseña</div>
                    <span class="text-600 font-medium">Ingresa tus credenciales para recuperar el acceso</span>
                </div>

                <div>
                    <form [formGroup]="forgotForm" >
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Correo electronico</label>
                    <input id="email1" type="text" placeholder="example@savethechildren.com" formControlName="email" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
                    
                    <button pButton pRipple label="Recuperar contraseña" class="w-full p-3 text-xl" [disabled]="!forgotForm.valid" (click)="doForgot()"></button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
