<div class="surface-0 flex justify-content-center">
  <div id="home" class="landing-wrapper overflow-hidden">

    <!-- <app-auth-navbar></app-auth-navbar> -->

    <!-- <p-inputSwitch [ngModel]="darkMode" (ngModelChange)="onToggleDarkMode()" /> -->


    <div id="hero" class="surface-card p-4 border-round">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        <div *ngFor="let post of posts" class="surface-card p-4 border-round">
          <img src="{{ post.image }}" alt="Imagen del post" class="w-full h-48 object-cover">
          <div class="p-4">
            <h5 class="text-900 font-medium">{{ post.title }}</h5>
            <p class="text-600">{{ post.description }}</p>
            <p-button pRipple [text]="true" [plain]="true" label="Me gusta" icon="pi pi-heart"
              iconPos="left"></p-button>
            <p-button pRipple [text]="true" [plain]="true" label="Comentarios" icon="pi pi-comment"
              iconPos="left"></p-button>
          </div>
        </div>
      </div>
    </div>



    <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
      <div class="grid justify-content-between">
        <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
          <a
            class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
            <img src="../../../../assets/layout/images/logo outline.png" alt="footer sections" width="50" height="50"
              class="mr-2">
            <h4 class="font-medium text-3xl text-900">ContribuGuate</h4>
          </a>
        </div>

        <div class="col-12 md:col-10 lg:col-7">
          <div class="grid text-center md:text-left">
            <div class="col-12 md:col-3">
              <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Company</h4>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">About Us</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">News</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Investor Relations</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Careers</a>
              <a class="line-height-3 text-xl block cursor-pointer text-700">Media Kit</a>
            </div>

            <div class="col-12 md:col-3 mt-4 md:mt-0">
              <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Resources</h4>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Get Started</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Learn</a>
              <a class="line-height-3 text-xl block cursor-pointer text-700">Case Studies</a>
            </div>

            <div class="col-12 md:col-3 mt-4 md:mt-0">
              <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Community</h4>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" href="https://discord.gg/H6cpzR3pqW" target="_blank">Discord</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Events<img
                  src="assets/demo/images/landing/new-badge.svg" class="ml-2" /></a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">FAQ</a>
              <a class="line-height-3 text-xl block cursor-pointer text-700">Blog</a>
            </div>

            <div class="col-12 md:col-3 mt-4 md:mt-0">
              <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Legal</h4>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Brand Policy</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Privacy Policy</a>
              <a class="line-height-3 text-xl block cursor-pointer text-700">Terms of Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-scrollTop />