<div class="surface-0 flex justify-content-center">
  <div id="home" class="landing-wrapper overflow-hidden">
    <div id="hero" class="surface-card p-4 border-round">
      <div class="p-grid">
        <div *ngFor="let post of posts" class="p-col-12 p-md-4">
          <div class="surface-card p-4 border-round shadow-2">
            <div class="flex align-items-center mb-2">
              <div class="mr-2">
                <p-avatar 
                  image="../../../../../assets/layout/images/logo outline.png"
                  styleClass="mr-2" 
                  [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
                  size="large" 
                  shape="circle" />
              </div>
              <div>
                <span class="font-medium text-900">{{ post.author.username }}</span> <br/>
                <span class="text-600 text-sm"> {{ post.createdAt | timeago:live }}</span>
              </div>
            </div>
            <div class="p-4">
              <h5 class="text-900 font-medium">{{ post.title }}</h5>
              <p class="text-600">{{ post.description }}</p>
              <p-button pRipple [text]="true" severity="secondary" [plain]="true" label="Reaccionar" icon="pi pi-thumbs-up"
                iconPos="left" (onClick)="op.toggle($event)"></p-button>

              <p-overlayPanel #op>
                <div class="flex flex-column gap-3 w-full md:w-25rem">
                  <div>
                    <span class="font-medium text-900 block mb-2">Reaccionar a la publicación</span>
                  </div>
                  <div>
                    <div class="flex flex-row justify-content-center align-items-center gap-2 flex-nowrap">
                      <p-button label="Me gusta" (click)="react('like', post.uuid)" severity="success" icon="pi pi-thumbs-up" class="flex-grow-1" />
                      <p-button label="Me encanta" (click)="react('love', post.uuid)" severity="danger" icon="pi pi-heart" class="flex-grow-1" />
                      <p-button label="Me inspira" (click)="react('inspire', post.uuid)" severity="warning" icon="pi pi-bolt" class="flex-grow-1" />
                    </div>
                  </div>
                </div>
              </p-overlayPanel>
            </div>
          </div>
          <br/>
        </div>
      </div>
    </div>

    <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
      <div class="grid justify-content-between">
        <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
          <a class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
            <img src="../../../../assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo outline' : 'logo'}}.png" alt="footer sections" width="50" height="50" class="mr-2">
            <h4 class="font-medium text-3xl text-900">ContribuGuate</h4>
          </a>
        </div>

        <div class="col-12 md:col-10 lg:col-7">
          <div class="grid text-center md:text-left">
            <div class="col-12 md:col-3">
              <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Company</h4>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">About Us</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">News</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Investor Relations</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Careers</a>
              <a class="line-height-3 text-xl block cursor-pointer text-700">Media Kit</a>
            </div>

            <div class="col-12 md:col-3 mt-4 md:mt-0">
              <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Resources</h4>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Get Started</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Learn</a>
              <a class="line-height-3 text-xl block cursor-pointer text-700">Case Studies</a>
            </div>

            <div class="col-12 md:col-3 mt-4 md:mt-0">
              <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Comunidad</h4>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" href="https://discord.gg/H6cpzR3pqW" target="_blank">Discord</a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" [routerLink]="['/app/events']">Eventos<img src="assets/demo/images/landing/new-badge.svg" class="ml-2" /></a>
              <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">FAQ</a>
              <a class="line-height-3 text-xl block cursor-pointer text-700">Blog</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-scrollTop />
