<div class="topbar">
    <div class="topbar-inner py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between">
      <a class="flex align-items-center" href="#">
        <img src="assets/layout/images/logo outline.png" alt="ContribuGuate" height="80" class="mr-0 lg:mr-2">
        <span class="text-900 font-medium text-2xl line-height-3 mr-8">ContribuGuate</span>
      </a>
      <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
      </a>
      <div class="menu align-items-center surface-0 flex-grow-1 justify-content-end hidden lg:flex w-full px-6 lg:px-0 z-2"> 
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
          <li>
            <p-button (click)="noop()" pRipple [text]="true" [plain]="true" label="Inicio" icon="pi pi-home" iconPos="left"></p-button>
          </li>
          <li>
            <p-button (click)="noop()" pRipple [text]="true" [plain]="true" label="Perfil" icon="pi pi-users" iconPos="left"></p-button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  

  <div class="content">
    <div class="create-post">
      <h2>Crear un nuevo post</h2>
      <textarea placeholder="Qué estas pensado ahora?"></textarea>
      <button>Publicar</button>
    </div>
  

    <div class="posts">
      <div class="post" *ngFor="let post of posts">
        <div class="post-header">
          <h2>{{ post.title }}</h2>
        </div>
        <div class="post-content">
          <p>{{ post.content }}</p>
        </div>
        <div class="post-footer">
          <span class="badge status-qualified">Activo</span>
        </div>
      </div>
    </div>
  </div>
  
  