<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="../../../../../assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo outline' : 'logo'}}.png" alt="ContribuGuate logo"
            class="mb-5 w-6rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(91, 181, 255, 0) 30%); max-width: 600px; margin: 0 auto;">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Registro</div>
                    <span class="text-600 font-medium">Completa tus datos para registrarte en el sistema</span>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <form [formGroup]="registerForm">
                        <div class="col-12">
                            <p-fieldset legend="Informacion personal">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="firstname2">Primer Nombre *</label>
                                        <input pInputText id="firstname2" type="text" formControlName="primerNombre" required />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="secondname">Segundo Nombre</label>
                                        <input pInputText id="secondname" type="text" formControlName="segundoNombre" />
                                    </div>

                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="lastname1">Primer Apellido *</label>
                                        <input pInputText id="lastname1" type="text" formControlName="primerApellido" required />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="lastname2">Segundo Apellido</label>
                                        <input pInputText id="lastname2" type="text" formControlName="segundoApellido" />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="cui">CUI (Numero de identidad) *</label>
                                        <input pInputText id="cui" type="text" formControlName="cui" required />
                                    </div>
                                </div>
                            </p-fieldset>

                            <p-fieldset legend="Informacion de usuario">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="username">Nombre de usuario *</label>
                                        <input pInputText id="username" type="text" formControlName="nombreUsuario" required />
                                    </div>
                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="usermail">Correo electronico</label>
                                        <input pInputText id="usermail" type="email" formControlName="correoElectronico" placeholder="example@dogs.com" />
                                    </div>

                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="password">Contraseña *</label>
                                        <p-password formControlName="contrasena" required></p-password>
                                    </div>

                                    <div class="field col-6 md:col-6">
                                        <label htmlFor="confirmPassword">Repite Contraseña *</label>
                                        <p-password formControlName="repiteContrasena" required></p-password>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                        <br/>

                        <button type="button" pButton pRipple label="Registrarse" class="w-full p-3 text-xl"
                            [disabled]="!registerForm.valid"
                            (click)="doRegister()">
                        </button>

                    

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
