<app-config></app-config>
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a class="flex align-items-center">
      <img
        src="../../../../assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo outline' : 'logo'}}.png"
        alt="ContribuGuate" height="75" class="mr-0 lg:mr-2" /><span
        class="text-900 font-medium text-2xl line-height-3 mr-8">ContribuGuate</span>
    </a>
  </ng-template>
  <ng-template pTemplate="item" let-item let-root="root">
    <a pRipple class="flex align-items-center p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
      <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
      <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{
        item.shortcut }}</span>
      <i *ngIf="item.items" [ngClass]="[
          'pi',
          root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
        ]"></i>
    </a>
  </ng-template>
</p-menubar>

<p-dialog header="Unirse a una comunidad" [modal]="true" [(visible)]="joinCommunityVisible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '20vw' }">
  <span class="p-text-secondary block mb-5">Ingresa el codigo de acceso</span>
  <form [formGroup]="joinCommunityForm">
    <div class="flex align-items-center gap-3 mb-3">
      <div class="flex flex-column gap-2">
        <label for="code">Codigo de comunidad</label>
        <input pInputText id="code" aria-describedby="username-help" formControlName="code" />
        <small id="username-help">
          El codigo que te compartieron debe contener 12 caracteres
        </small>
      </div>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancelar" severity="secondary" (onClick)="joinCommunityVisible = false" />
      <p-button label="Unirse" [disabled]="!joinCommunityForm.valid" (onClick)="joinWithCode()" />
    </div>
  </form>
</p-dialog>

<p-dialog header="Preferencias del sistema" [modal]="true" [(visible)]="preferencesDialog"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '25vw' }">
  <span class="p-text-secondary block mb-5">Ajusta las configuraciones segun tus necesidades</span>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="darkMode" class="font-semibold w-6rem">Modo oscuro</label>
    <p-inputSwitch id="darkMode" [ngModel]="darkMode" (ngModelChange)="onToggleDarkMode()" />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancelar" severity="secondary" (onClick)="preferencesDialog = false" />
    <p-button label="Guardar" (onClick)="preferencesDialog = false" />
  </div>
</p-dialog>

<p-dialog header="Unirse a una comunidad" [modal]="true" [(visible)]="communityDialog"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '30vw' }" *ngIf="communityToJoin">
  <div class="flex align-items-center gap-3 mb-3">
    <p-card [header]="communityToJoin.organization.name" [subheader]="communityToJoin.name"
      [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" [src]="communityToJoin.coverImage" />
      </ng-template>
      <p>
        {{communityToJoin.description}}
      </p>
    </p-card>

  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancelar" icon="pi pi-times" severity="secondary"
      (click)="communityDialog = false; communityToJoin =null" />
    <p-button label="Unirse" icon="pi pi-link" iconPos="right" />
  </div>
</p-dialog>

<p-dialog header="Información personal" [modal]="true" [(visible)]="personalInfo"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '30vw' }" [draggable]="false"
  [resizable]="false" [closable]="true" *ngIf="personalInfoObj">

  <div class="flex flex-column align-items-center gap-3 mb-3">
    <!-- Imagen del perfil del usuario -->
    <img
      src="../../../../../assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo outline' : 'logo'}}.png"
      alt="Imagen de perfil" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;" />

    <!-- Nombre de usuario e ícono de verificado si está verificado -->
    <div class="flex align-items-center">
      <h3 class="m-0">{{ personalInfoObj.person.firstname }}
        {{ personalInfoObj.person.secondname ? personalInfoObj.person.secondname : '' }}
        {{ personalInfoObj.person.surname }}
        {{ personalInfoObj.person.secondsurname ? personalInfoObj.person.secondsurname : '' }}</h3>
      <i *ngIf="personalInfoObj.person.verified" class="pi pi-verified"
        style="font-size: 1.1rem; color: rgb(0, 119, 255); margin-left: 0.5rem;" title="Usuario verificado"></i>


    </div>

    <p>Usuario: {{ '@' + personalInfoObj.username }}</p>

    <!-- Correo electrónico -->
    <p>Email: {{ personalInfoObj.email }}</p>

    <!-- Teléfono (solo si está presente) -->
    <p *ngIf="personalInfoObj.person.phone">Teléfono: {{ personalInfoObj.person.phone }}</p>

    <!-- Estado de la cuenta -->
    <!-- <p *ngIf="personalInfoObj.active; else inactiveTemplate">Estado: Activa</p>
    <ng-template #inactiveTemplate>
      <p>Estado: Inactiva</p>
    </ng-template> -->
  </div>
</p-dialog>



<p-dialog header="Crear nuevo post" [modal]="true" [(visible)]="postVisible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '30vw' }">
  <span class="p-text-secondary block mb-5">Completa la información del post a tu gusto</span>
  <form [formGroup]="postForm">
    <div class="flex align-items-center gap-3 mb-3">
      <label for="desc" class="font-semibold w-6rem">Contenido*</label>
      <p-editor id="desc" formControlName="description" [style]="{ height: '320px' }" required />

    </div>

    <div class="flex align-items-center gap-3 mb-3">
      <label for="post" class="font-semibold w-6rem">Tipo de post*</label>
      <p-dropdown appendTo="body" id="post" [options]="postTypes" formControlName="type" optionLabel="label" [showClear]="true"
        placeholder="Selecciona un tipo de post">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="postForm.get('type')?.value">
            <span><i [class]="postForm.get('type')?.value.icon"></i></span>
            <div>{{ postForm.get('type')?.value.label }}</div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ country.label }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="flex align-items-center gap-3 mb-3" *ngIf="postForm.get('type')?.value">
      <label for="comm" class="font-semibold w-6rem">Comunidad</label>
      <p-dropdown appendTo="body" id="comm" [options]="communitiesArr" formControlName="community" optionLabel="label" [showClear]="true"
        placeholder="Selecciona una comunidad">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="postForm.get('community')?.value">
            <img [src]="postForm.get('community')?.value.coverImage"
                                                style="width: 18px" />
            <div>{{ postForm.get('community')?.value.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img [src]="country.coverImage" style="width: 18px" />
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Postear" icon="pi pi-send" iconPos="right" [disabled]="!postForm.valid" (click)="addPost()" />
    </div>
  </form>
</p-dialog>